@full: 768px;
@tablet: 400px; 

body {
    position: relative;
    margin: 0;
    padding-bottom: 25rem;
    min-height: 100%;
    background: url(../images/abstract_background.jpg) no-repeat center center fixed;
    background-repeat:no-repeat;
    display: compact;
    background-size: cover;  
}

.content-wrapper {
    background: rgba(255, 255, 255, 0.85);
    margin-top: 10em;
    margin-bottom: 10em;  
    padding: 40px 50px 40px 40px; 
    width: 100%; 

    @media screen and (min-width: @tablet) {
        width: 90%; 
    }


    .text-wrapper {
        margin-top: 10px; 
        display: flex; 
        justify-content: space-between; 
        flex-flow: column; 
        flex-wrap: wrap; 
        align-content: center; 
        padding: 0; 
    
        p {
            width: 100%; 
            font-size: 14px; 
            margin-bottom: 0px; 
            padding-right: 20px; 
        }

        @media screen and (min-width: @tablet) {
            p {
                font-size: 18px; 
                width: 70%;
            }
        }

        .image-wrapper {
            align-self: center; 
            margin: 0;
            text-align: center; 
            padding: 20px 0px; 
            flex-basis: 100%; 

            @media screen and (min-width: @tablet) {
                padding: 0px 0px 0px 30px; 
                flex-basis: 80%;
            }
            
            img { 
                width: 100%; 
            }
            figcaption {
                text-align: center; 
            }
        }

    }

    @media screen and (min-width: @tablet) {
        .text-wrapper {
            flex-flow: row; 
            flex-wrap: row; 
        }
    }

}

footer {
    font-size: 14px; 
    margin-top: -15%; 
    color: white; 
    background:#404040; 
    width: 100%;

    @media screen and (min-width: @full) {
        position: absolute;
        left: 0; 
        right: 0; 
        bottom: 0; /* stick to bottom */
    }
}